.logo{
    width: 110px;
    height: 110px;
}
/*fondo de caja madre: navbar*/
.container-fluid{
background-color: rgb(31, 29, 29);
}
.navbar-expand-lg{
    padding: 0px;
}
/*tamaño de letra de caja hija*/
.nav-item{
    font-size: 20px;
}
/*color a las letras del navbar*/
.nav-link{
    color: white;
}
/*orden de los vinculos*/
.navbar-collapse{
    display: flex;
    flex-direction:row-reverse
}
/*Achicar las img del carruzel*/
.carousel-inner img{
   width: 500px;
   height: 500px;
}
/*div con descripcion de encvio*/
.send{
    background-color:#D4EFDF  ;
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
.productos{
    text-align: center;
    font-size: 15px;
    border: 1px rgb(172, 172, 172) solid;
    padding: 50px;
    
}
.img-producto{
    
    margin: 50px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}
.img-rad-producto{
    margin: 50px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}
.fuente{
   width: 140px;
   height: 140px; 
   margin-top: auto;
   /*no me gusta esta parte*/
   margin-left: 130px;
   margin-right: 130px;
   text-align: center;
}
.fuente-2{
    width: 190px;
   height: 190px; 
   margin-top: auto;
   /*no me gusta esta parte*/
   margin-left: 130px;
   margin-right: 130px;
   text-align: center;
   
}
.btn-primary{
    background-color: #6a8876;
    border: #6a8876;
    padding: 20px;
}
.boton-pr{
    display: flex;
    justify-content: center;
    margin: 20px;
}
/*desplazamiento de las img del catalogo*/
#contenido-1{
    display: flex;
    justify-content: center;
}
#contenido-2{
    display: flex;
    justify-content: center;
}
#descripcion {
    display: flex;
    justify-content: center;
}
#descripcion-2{
    display: flex;
    justify-content: center;
}